@model BookVm

<h1>Create a book</h1>
<form method="post">
    <div class="border p-3 mt-4">
        <div class="mb-3 row">
            <label asp-for="Book.Title"></label>
            <input asp-for="Book.Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Book.Description"></label>
            <input asp-for="Book.Description">
            <span asp-validation-for="Book.TDescription" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Book.Author"></label>
            <input asp-for="Book.Author">
            <span asp-validation-for="Book.Author" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Book.Price"></label>
            <input asp-for="Book.Price">
            <span asp-validation-for="Book.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Book.CategoryId"></label>
            <input asp-for="Book.CategoryId">
            <span asp-validation-for="Book.TategoryId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Book" asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</form>